In [23]:
import numpy as np
import pandas as pd

In [29]:
DR1980to2016 = pd.read_csv("All80to16DRmod.csv")

In [30]:
DR1980to2016.head()

  Candidate   County   PartyCode  FIPS    State  VoteTotal  Year
0    Carter  Autauga  Democratic  1001  Alabama       4295  1980
1    Reagan  Autauga  Republican  1001  Alabama       6292  1980
2   Mondale  Autauga  Democratic  1001  Alabama       3366  1984
3    Reagan  Autauga  Republican  1001  Alabama       8350  1984
4   Dukakis  Autauga  Democratic  1001  Alabama       3667  1988

- In this new dataframe, we can see we have only three U.S. Counties (Cibola, NM - formed 1981, La Paz, AZ - formed 1981, Broomfield, CO - formed 2001) that do not have an identical number of entries. This data can now be exported to R

In [36]:
DR1980to2016.groupby(["State", "County", "FIPS"]).count().sort_values(by='VoteTotal', ascending=True).head(20)

                             Candidate  PartyCode  VoteTotal  Year
State      County     FIPS
Colorado   Broomfield 8014           8          8          8     8
Arizona    La Paz     4012          18         18         18    18
New Mexico Cibola     35006         18         18         18    18
Alabama    Autauga    1001          20         20         20    20
Ohio       Morgan     39115         20         20         20    20
           Morrow     39117         20         20         20    20
           Muskingum  39119         20         20         20    20
           Noble      39121         20         20         20    20
           Ottawa     39123         20         20         20    20
           Paulding   39125         20         20         20    20
           Perry      39127         20         20         20    20
           Montgomery 39113         20         20         20    20
           Pickaway   39129         20         20         20    20
           Portage    39133         20         20         20    20
           Preble     39135         20         20         20    20
           Putnam     39137         20         20         20    20
           Richland   39139         20         20         20    20
           Ross       39141         20         20         20    20
           Sandusky   39143         20         20         20    20
           Scioto     39145         20         20         20    20